/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
  
/* 2. Remove default margin */
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
  
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
  
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
  
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
  
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
  
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
  
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input{
  outline: none;
}

fieldset {
  position: relative;
  padding: 50px 30px 30px 30px;
  border: 0;
}

legend {
  position: absolute;
  top: 10px;
}

@font-face{
  font-family: norse-bold;
  src: url(../fonts/norse-bold-webfont.woff);
}

.photo-credit a{
  color: inherit;
}

body{
  display: flex;
}

.side-container{
  position: relative;
  flex-direction: column;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
}

.main-content-container{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background-color: rgb(245, 245, 245);
}

.main-content-text{
  font-size: 20px;
  width: 70%;
  padding: 30px;
  font-weight: 700;
}

.selling-line{
  padding-top: 10px;
}

.main-content-bottom-container{
  padding-left: 30px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content-bottom-container a{
  color: #b2c2da;
  text-decoration: none;
}

.side-image{
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100%;
}

.side-container-content{
  width: 100%;
  height: 100vh;
}

.logo-container{
  position: absolute;
  top: 183px;
  width: 100%;
  display: flex;
  background-color: rgba(57, 57, 57, 0.6);
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.logo-image{
  width: 80px;
}

.logo-text{
  font-family: norse-bold, sans-serif;
  font-size: 50px;
  color: white;
}

.photo-credit{
  position: absolute;
  bottom: 0px;
  color: white;
}

.submit-button{
  background-color: #b2c2da;
  border: none;
  border-radius: 6px;
  width: 210px;
  height: 45px;
}

#sign-up-form{
  background-color: white;
  box-shadow: 0px 3px 3px rgb(215, 215, 215);
}

.form-row{
  display: flex;
  width: 100%;
  padding-bottom: 12px;
}

.form-item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 100px;
}

.form-item input{
  width: 100%;
}

.form-item label{
  font-weight: 700;
  font-size: 12px;
  color: rgb(57, 57, 57);
}

input[type="password"]:invalid{
  border: 2px solid red;
}

input:focus{
  border: 2px solid #b2c2da;
}